@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #333;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-logo{
    margin-top: 70px;
}

.container-iniciar{
    margin-top: 20px;
    color: white;
    font-size: 1.2em;
}

.title-iniciar{
    margin-top: 50px;
    color: white;
}

.fa-google{
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
}

.google{
    background-color: #EF4565;
    border: none;
    border-radius: 6px;
    padding: 15px 15px 15px 60px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    cursor: pointer;
    color: white;
}

.linea{
    margin-top: 15px;
    background-color: white;
}

.container-input{
    margin-top: 20px;
}

.label{
    color: white;
}

.email-input{
    margin-top: 10px;
    padding: 12px 70px 15px 10px;
}

.container-registro{
    margin-top: 30px;
}

.RecupContraseña{
    display: block;
    text-align: center;
    margin-bottom: 120px;
    color: white;
}

.RecupContraseña a{
    color: #2CB67D;
}